body {
    background-image: url("/Screenshot\ 2024-11-14\ 143134.png");
    height: 100vh;
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.category-container{
    background-image: url("/Screenshot\ 2024-11-14\ 132713.png");
    border: 2px solid rgb(9, 108, 161);
    padding: 5px ;
    text-align: left;   
    box-sizing: border-box;    
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz{
    text-align: center;
    width: 40%;
    border: 2px solid rgb(9, 108, 161);
    padding: 10px;
    background-color: rgb(6, 217, 217);
}

.enter-name, .choose-category{
    box-sizing: border-box;
}

input{
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    background-color: rgb(138, 235, 255);
    border: none;
}

h3{
    color: rgb(2, 2, 122);
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.category{
    padding: 5px;
    width: 50%;
    margin-bottom: 10px;
    background-color: rgb(138, 235, 255);
    border: none;
}

.submit{
    padding: 7px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(1, 79, 93);
    color: white;
}

.button{
    text-align: center;
}